.comment-mat-card{
    
    padding-right: 13px;
    padding-left: 13px;
    padding-top: 30px;
    margin-bottom: 5px;
}
.comment-avatar{
    width: 45px;
    height: 45px;
}
.comment-avatar img{
    border-radius: 23px;
    width: 45px;
    height: 45px;
    background-size: cover;
}
.comment-name{
    font-weight: bold;
    font-size: 15px;
    margin-top: 14px;
}
.comment-content{
    margin-top: 5%;
    margin-left: 61px;
    word-wrap: break-word;
}