<div *ngIf="data_have">
    <mat-card class = comment-mat-card>
        <mat-card-header class = "comment-header">
            <div mat-card-avatar class="comment-avatar"> <img
                    src="{{user_comment.avatarURL}}">
            </div>
            <mat-card-title >{{user_comment.name}}</mat-card-title>
             <mat-card-subtitle>
                {{user_comment.email}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p class = "comment-content"> {{current_comment.content}}
            </p>
        </mat-card-content>
        <button mat-raised-button></button>
    </mat-card>
    

</div>