<div class=content>
    <div class="videomain">
        <mat-video #videomain type="video/mp4">
            <source src=".././hello.mp4">
        </mat-video>
    </div>
    <div class=main>
        <div class=info-main>
            <mat-grid-list cols='10'>
                <mat-grid-tile rowspan='1'>xin chào</mat-grid-tile>
                <mat-grid-tile rowspan='1' colspan='7'>title</mat-grid-tile>
                <mat-grid-tile rowspan='2' colspan='2'>
                    <div class = "div-button" >
                        <mat-grid-list cols='1' rowHeight = 33%>
                            <mat-grid-tile colspan='1' rowspan='1'>
                                <button class = button-info-main mat-raised-button>Nhúng</button>
                            </mat-grid-tile>
                            <mat-grid-tile colspan='1' rowspan='1'>
                                <button class = button-info-main mat-raised-button color = "primary">Share</button>
                            </mat-grid-tile>
                            <mat-grid-tile colspan='1' rowspan='1'>
                                <button class = button-info-main mat-raised-button color = "warn">Báo Lỗi</button>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </mat-grid-tile>

                <mat-grid-tile rowspan='1'>like dislike</mat-grid-tile>
                <mat-grid-tile rowspan = '1' colspan = 7> <p style="overflow-y: scroll">Setting the gutter size
                        The gutter size can be set to any px, em, or rem value with the gutterSize property. If no units are specified, px units are assumed. By default the gutter size is 1px.
                        
                         Adding tiles that span multiple rows or columns
                        It is possible to set the rowspan and colspan of each mat-grid-tile individually, using the rowspan and colspan properties. If not set, they both default to 1. The colspan must not exceed the number of cols in the mat-grid-list. There is no such restriction on the rowspan however, more rows will simply be added for it the tile to fill.
                        
                       
                        </p></mat-grid-tile>
            </mat-grid-list>
        </div>
        <div class=commentmain></div>

    </div>
</div>