.wait-progress{
  margin: 10% auto auto auto;
  width: 50%;

 // background-color: rgba(173, 173, 173, 0.8);
}
video{
  border-radius: 2px;
}
.mat-slider{
  height: 15px !important;
}
.content {
  min-width: 1021px;
  min-height: 1200px;
  max-width: 1021px;
  max-height: 1200px;;
  width: 70%;
  height: auto;
  margin: 0 auto;
}
.videomain {
  width: 100%;
  height: 70%;
}
.videomain video{
  height: 100%;
  width: 100%;
}
.main {
  margin-top: 3%;
}
// .info-main {
//   border-top-style: double;
//   border-top-color: rgba($color: #1d1d1d, $alpha: 1);
//   padding-top: 1%;
// }
.main-title{
  width: 100%;
  height: 70px;
  text-align: left;
  border-bottom-style: solid;
  border-bottom-color: rgba(82, 82, 82, 0.8);
  border-bottom-width: 1px;
}
.title{
  margin-bottom: 2%;
}
.owner-video-div{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 25px;
}

.owner-video-div img{
  width: 100%;
  height: 100%;
  border-radius: 40px;
}
.owner-video-name{
  padding-top: 30px;
  height: 100%;
  width: 100%;
  text-align: left;
}
// .grid-button{
//   margin-top: 25px !important;
// }
// .div-button {
//   width: 100%;
//   height: 100%;
  
// }
.div-view{
  height: 100%;
  width: 100%;
  margin: 15% 2% 0 40%;
}
.div-view h4{
  text-align: right;
}
.tiltle-div{
  height: 100%;
  width: 100%;
  text-align: left;

}
.tiltle-div h2 {
  min-height: 43px;
  margin: 3.5% 0 0 0;
}
.div-like-dislike{
  width: 100%;
  height: 100%;
}

.button-like-dislike{
  height: 50%;
  width: 70%;
  padding: 0;
}

.button-like-dislike p {
  display: inline-block;
  padding-left: 5px;
}
.des{
  max-height: 62px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.desfull{
  overflow: visible;
  width: 100%;
  height: auto;
  text-overflow: ellipsis;
}
  
.div-view-more{
  margin-top: 3px;
  width: 100;
  height: auto;
  display: flex;
  justify-content: flex-end;  
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(82, 82, 82, 0.8);
}
.view-more{
 
  color: rgb(124, 124, 124);
  padding-right: 15px;

}
.view-more:hover{
  cursor: pointer;
}
// .button-info-main {
//   width: 80%;
//   height: 70%;
// }

.comment-main{
  margin-top: 30px;
  width: 100%;

}
.comment-total{
  width:100%;
  margin-bottom: 5px;
}
.comment-input img{
  width: 40px;
  height: 40px;
  border-radius: 25px;
}

.comment-form-field{
  width: 100%;
  height: 100%;
}
.comment-form-field input {
  width: 99%;
}
.comment-button-cancel-accept{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin-bottom: 20px;
}
