p {
  margin: 0;
}

a {
  margin: 0;
}

mat-toolbar {
  user-select: none;
  position: fixed;
  top: 0;
  z-index: 1;

  justify-content: space-between;
  font-family: "Righteous", cursive;
}

@media screen and (max-width: 768px) {
  mat-toolbar {
    height: 55px;
  }
}

// left side
#left-side {
  display: flex;
  height: 80%;
}

button {
  min-width: 50px;
  height: 100%;
  padding: 0;
  transition: 0.5s;
}

#logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  #logo {
    display: none;
  }
}

#logo-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 50px;
}

#logo img {
  height: 35px;
  position: relative;
  right: 2px;
  padding-left: 10px;
}

#logo p {
  letter-spacing: 5px;
  font-size: 35px;
  color: white;
  font-weight: bold;
}

//right side
#right-side {
  display: flex;
  height: 80%;
  width: 120px;

  justify-content: space-evenly;
  align-items: center;
}

app-login {
  margin-right: 15px;
}
