<mat-toolbar>
  <div id="left-side">
    <button mat-flat-button color="primary" (click)="showSideBar()">
      <mat-icon>menu</mat-icon>
    </button>

    <a id="logo" routerLink="/">
      <div id="logo-image">
        <img
          *ngIf="!theme.dark"
          src="../../../assets/bamboo-white.png"
          alt=""
        />
        <img *ngIf="theme.dark" src="../../../assets/bamboo-green.png" alt="" />
      </div>

      <p>Bamboo</p>
    </a>
  </div>

  <div id="right-side">
    <button mat-flat-button color="primary" (click)="toUpload()">
      <mat-icon>video_call</mat-icon>
    </button>

    <app-login></app-login>
  </div>
</mat-toolbar>
