$green: #27a02d;
$light-green: #eef7ec;
$dark-green: #1b4400;

p {
  margin: 0;
}

a {
  margin: 0;
}

mat-toolbar {
  user-select: none;
  position: fixed;
  top: 0;

  color: white;
  background-color: $green;
  justify-content: space-between;
  box-shadow: 0px 2px 10px grey;
  font-family: "Righteous", cursive;
}

// .home {
//   box-shadow: none;
//   background: rgb(105, 105, 105);
//   background: linear-gradient(
//     180deg,
//     rgba(105, 105, 105, 0.4035047895452949) 0%,
//     rgba(255, 255, 255, 0) 100%
//   );
// }

// left side
#left-side {
  display: flex;
}

button {
  min-width: 50px;
  width: 50px;
  height: 50px;
  padding: 0;
  color: white;
  background-color: transparent;
  transition: 0.5s;
}

button:hover {
  background-color: $dark-green;
}

#logo {
  display: flex;
  align-items: center;
}

#logo img {
  height: 35px;
  position: relative;
  right: 2px;
  padding-left: 10px;
}

#logo p {
  letter-spacing: 5px;
  font-size: 35px;
  color: white;
  font-weight: bold;
  text-shadow: 4px 4px 2px $dark-green;
}

//right side
#right-side {
  display: flex;
  width: 120px;

  justify-content: space-evenly;
  align-items: center;
}
