<form class="container" (change)="onChange()">
  <div id="line1">
    <mat-form-field id="title" appearance="standard">
      <mat-label>Title</mat-label>
      <input
        matInput
        #title
        required
        minlength="5"
        name="title"
        [(ngModel)]="videoData.title"
        (keyup.enter)="blur(title)"
        [formControl]="titleValid"
      />
      <mat-error *ngIf="titleValid.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field id="privacy" appearance="fill">
      <mat-select
        placeholder="Privacy"
        [value]="videoData.privacy"
        (selectionChange)="changePrivacy($event.value)"
      >
        <mat-option *ngFor="let choice of privacyChoices" [value]="choice.key">
          {{ choice.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-form-field id="tags" class="chip-list" appearance="standard">
    <mat-label>Tags</mat-label>
    <mat-chip-list #chipList>
      <mat-chip
        *ngFor="let tag of videoData.tags"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(tag)"
      >
        {{ tag }}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)"
      />
    </mat-chip-list>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      name="description"
      [(ngModel)]="videoData.description"
      mat-autosize="true"
      matAutosizeMaxRows="20"
      matAutosizeMinRows="10"
    ></textarea>
  </mat-form-field>
</form>
