.container {
  display: flex;
  flex-direction: column;
  margin: 30px 10px 0 10px;
}

.container > * {
  width: 100%;
}

#line1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#title {
  width: 75%;
}

#privacy {
  width: 20%;
}

.chip-list {
  width: 100%;
}

@media screen and (max-width: 600px) {
  #line1 {
    flex-direction: column;
  }
  #title {
    width: 100%;
  }
  #privacy {
    width: 100%;
  }
}
