@import "./theming.scss";
@import "./side-bar.scss";
@import "./menu-bar.scss";
@import "./upload-input.scss";
@import "./upload-process-file.scss";
@import "./upload-thumbnail-select.scss";
@import "./home-recently-uploaded.scss";

// add more custom component themes here
@mixin custom-theme($theme) {
  @include side-bar($theme);
  @include menu-bar($theme);
  @include upload-input($theme);
  @include upload-process-file($theme);
  @include upload-thumbnail-select($theme);
  @include home-recently-uploaded($theme);
}

@include mat-core();

$primary: mat-palette($mat-green, 600, 50, 900);
$accent: mat-palette($mat-blue, 700, 50, 900);
$warn: mat-palette($mat-red, 600, 100, 900);
$light-theme: mat-light-theme($primary, $accent, $warn);

$dark-primary: mat-palette($mat-green, A700);
$dark-accent: mat-palette($mat-blue, A700);
$dark-warn: mat-palette($mat-red, 600, 100, 900);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.dark-theme {
  @include custom-theme($dark-theme);
  @include angular-material-theme($dark-theme);
}

@include custom-theme($light-theme);
@include angular-material-theme($light-theme);
