$min-width: 320px;

.container {
  width: 80%;
  height: auto;
  margin: 30px auto;
  min-width: $min-width;

  display: flex;
  flex-direction: column;
  align-items: center;
}

app-upload-process-file {
  width: 100%;
  min-width: $min-width;
  margin-bottom: 30px;
}
