<mat-card
  [@fade]="canceled ? 'out' : 'in'"
  id="container"
  [class.overplay]="canceled"
>
  <mat-progress-bar
    mode="determinate"
    value="{{ progress | async | number: '1.0-0' }}"
  ></mat-progress-bar>

  <div id="upload-bar">
    <div id="process-bar">
      <p>
        {{ file.name | truncate }} - {{ file.size | diskSize }}
        <span *ngIf="!uploaded" id="percentage">
          {{ progress | async | number: "1.0-0" }}%
        </span>

        <span *ngIf="uploaded" id="percentage">
          Done
        </span>
      </p>
    </div>

    <div id="function-btn">
      <button
        id="pause-btn"
        *ngIf="!uploaded"
        mat-raised-button
        (click)="interact()"
      >
        {{ paused ? "Resume" : "Pause" }}
      </button>

      <button
        id="delete-btn"
        *ngIf="!uploaded"
        mat-button
        [matMenuTriggerFor]="menu"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="cancel()">Yes</button>
        <button mat-menu-item>No</button>
      </mat-menu>

      <button
        id="update-btn"
        *ngIf="uploaded"
        mat-raised-button
        [disabled]="!formValid"
        color="primary"
        (click)="update()"
      >
        Update
      </button>
    </div>
  </div>

  <div id="info-bar">
    <app-upload-thumbnail-select [image-file]="fileImage">
    </app-upload-thumbnail-select>

    <app-video-info-form
      [video-data]="videoData"
      (form-validation)="changeValid($event)"
    ></app-video-info-form>
  </div>
</mat-card>
