$green: #27a02d;
$light-green: #eef7ec;
$dark-green: #1b4400;

#container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

// upload section
#upload-bar {
  display: flex;
  margin: 20px 10px;
  display: flex;
  align-items: center;
}

#process-bar {
  width: 75%;
}

mat-progress-bar {
  height: 10px;
  border-radius: 5px;
}

#percentage {
  color: white;
  background-color: $dark-green;
  font-weight: bold;
  margin-left: 20px;
  padding: 5px 12px;
  border-radius: 5px;
}

#function-btn {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

button {
  margin-left: 15px;
  padding: 0;
}

#pause-btn {
  width: 80px;
}

#delete-btn {
  min-width: 0;
  width: 40px;
}

#update-btn {
  font-size: 17px;
  font-weight: bold;
  width: 100px;
  color: white;
  background-color: $green;
}

// info form thumbnail section
#info-bar {
  display: flex;
  width: 100%;
}

#thumbnails {
  display: flex;
  width: 30%;
  min-width: 300px;
  background-color: white;
}

app-video-info-form {
  width: 70%;
}
