<div id="login-wrapper">
  <div *ngIf="!userGG.logged">
    <button mat-raised-button (click)="userGG.loginGoogle()">
      Sign in
    </button>
  </div>

  <div *ngIf="userGG.logged">
    <button mat-button [matMenuTriggerFor]="menu" id="avatar-btn">
      <img src="{{ userGG.user.avatarURL }}" alt="" />
    </button>

    <mat-menu #menu="matMenu" xPosition="before" [class.test]="true">
      <div id="user-info">
        <img src="{{ userGG.user.avatarURL }}" alt="" />
        <div>
          <p>{{ userGG.user.name }}</p>
          <p>{{ userGG.user.email }}</p>
        </div>
      </div>

      <button
        *ngFor="let choice of choices"
        mat-menu-item
        (click)="choice.do()"
      >
        <mat-icon>{{ choice.matIcon }}</mat-icon>
        {{ choice.name }}
      </button>
    </mat-menu>
  </div>
</div>
