.container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 300px;
  width: 70%;
  margin: 30px auto;
  border-radius: 10px;
  box-sizing: border-box;
  transition: 0.2s;
}

.container mat-icon {
  font-size: 100px;
  height: auto;
  width: auto;
}

#container-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container-content p:first-of-type {
  font-weight: bold;
  font-size: 21px;
}

#container-content p:last-of-type {
  font-size: 18px;
}

@media screen and (max-width: 400px) {
  #container-content p:first-of-type {
    font-size: 15px;
  }
  #container-content p:last-of-type {
    font-size: 14px;
  }
}

@media screen and (max-width: 290px) {
  #container-content p:first-of-type {
    display: none;
  }
  #container-content p:last-of-type {
    display: none;
  }
  .container mat-icon {
    font-size: 50px;
  }
}

.file-list {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 10px auto;
  border: 1px dashed;
  border-radius: 12px;
  padding: 5px 10px;
}

.file-list .delete-file {
  background: transparent;
  border: none;
  cursor: pointer;
}

.file-list .delete-file {
  width: 30px;
}

.file-list button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#function-bar {
  width: 70%;
  margin: 30px auto;
  display: flex;
  justify-content: center;
}

#upload-btn {
  height: 60px;
  width: 160px;
  font-size: 25px;
  font-weight: bold;
  transition: 0.3s;
}
