<mat-sidenav-container class="container" (backdropClick)="close()">
  <mat-sidenav #sidenav (keydown.escape)="close()">
    <div id="logo">
      <img *ngIf="!theme.dark" src="../../../assets//bamboo-black.png" alt="" />
      <img *ngIf="theme.dark" src="../../../assets/bamboo-green.png" alt="" />
      <p>Bamboo</p>
    </div>
    <div id="function-div">
      <div
        *ngFor="let menu of menus; let i = index"
        [class.last]="i == menus.length - 1"
      >
        <a
          (click)="close(menu.url)"
          class="function-btn"
          [class.active]="menu.name == activeMenu"
        >
          <mat-icon>{{ menu.matIcon }}</mat-icon>
          <p>{{ menu.name }}</p>
        </a>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-menu-bar (show-side-bar)="sidenav.open()"></app-menu-bar>
    <div id="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
