#container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
mat-button-toggle-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

mat-button-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  min-width: 300px;
  min-height: 150px;
  box-sizing: border-box;
}

mat-button-toggle-group img {
  max-width: 300px;
  max-height: 190px;
  opacity: 0.3;
}

mat-button-toggle-group img:hover {
  opacity: 1;
}

#upload-thumbnail-btn {
  margin-top: 8px;
  margin-bottom: 8px;
}

.checked {
  opacity: 1 !important;
}

#thumbnail-spinner {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
}

// check icon
.check-icon {
  position: absolute;
  top: 1px;
  right: 1px;
  height: auto;
  width: auto;
  font-size: 30px;
  border-radius: 15px;
}
